/****** variables ******/
:root {
	--colorWhite: #fff;
	--colorDeepSkyBlue: #00A4F1;
	--colorGray: #979797;
	--colorBlack: #000;
	--colorDark: #333;
	--colorGreen: #00A505;
	--colorFooterBg: #808080;
	--colorRed: #FF0000;
	--colorDarkBlue: #0073A9;
	--colorYellow: #FFCA00;
	--colorBorder: #D9D9D9;
	--colorPlaceholder: #999999;

	--radiusDef: 4px;
}
/****** /variables ******/
